<!DOCTYPE html>
<html ng-app="detalles">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Livegoal | Gestionar Ligas</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet"	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
	<script src="../js/bootstrap-datepicker.min.js"></script>

    <!-- Mis scripts-->
    <script src="../js/cookies.js"></script>
    <script src="../js/detalles.js"></script>
    <link href="../css/angular-input-stars.css" rel="stylesheet">
	<script src="../js/angular-input-stars.js"></script>
    <script>

    </script>
 </head>
 		
<body ng-controller="detallesCtrl as detallesCtrl">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

   <div class="row">
	<img src="../images/cabecera3.jpg" class="img-responsive">
   </div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Livegoal</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
    		 <li><a href="index.html">Partidos</a></li>
	        <li><a href="paises.html">Paises</a></li>
			 <li><a href="ligas.html">Ligas</a></li>
			<li><a href="equipos">Equipos</a></li>
      </ul>

          <ul class="nav navbar-nav navbar-right" >
          	<li><a href="#"><span class="glyphicon glyphicon-user"></span> {{username}}</a></li>
			<li id="userLogin"></li>
			<li id="userLogout"></li>

	      </ul>
    </div>
  </div>
</nav>
<div class="container" >
    <h2>Detalles del partido</h2>


        <div class="table-responsive">
        <table class="table table-hover ">
            <tr> <th>Local</th> <th></th><th></th> <th style="text-align:center;">VS</th><th></th> <th></th> <th style="text-align:right;">Visitante</th></tr>
            <tbody>
            <tr >
			
             <td > 
				{{partido.equipo1.nombre}}
			</td>
			<td> 
				
			</td>
			
             <td> 
            <img align="right"src="../images/escudos/{{partido.equipo1.escudo}}" width=40 height=40>
             </td>
			
             <td  style="text-align:center;"> 
			-
			</td>
             <td> 
			 	<img align="left" src="../images/escudos/{{partido.equipo2.escudo}}" width=40 height=40>
			</td>			
             <td> 
				
			</td>
			<td style="text-align:right;"> 
				{{partido.equipo2.nombre}}
			</td>				
            </tr>
            <tr>
            <td>{{partido.rojas1}}  <img src=../images/tarjetaRoja.png width=30 height=50></td>
            <td>{{partido.amarillas1}} <img src=../images/tarjetaAmarilla.png width=30 height=50></td>
            <td style="text-align:right;">{{partido.goles1}}</td>
            <td style="text-align:center;">-</td>
            <td>{{partido.goles2}}</td>
            <td style="text-align:right;">{{partido.amarillas2}} <img src=../images/tarjetaAmarilla.png width=30 height=50></td>
            <td style="text-align:right;">{{partido.rojas2}} <img src=../images/tarjetaRoja.png width=30 height=50></td>
            </tr>
            </tbody>
        </table>
        </div>
        <div id=estrellas>
        <input-stars id=pmedia ng-model="pMedia" max="5" readonly></input-stars>
        </div>

										
        <!-- COMENTARIOS -->
					<div style="margin: 25px">
					<form id="comentarForm" name="comentarForm">

						<textarea placeholder="Escribir comentario"
							ng-model="detallesCtrl.contenido" name="comentarCont"
							id="comentarCont" rows=15 cols=150 style="resize: none"></textarea>
						<input-stars id="puntuar" ng-model="detallesCtrl.puntuacion"
							max="5"></input-stars>
						<input type="text" id="nombreU" placeholder="Nombre"
							ng-model="detallesCtrl.nombreU">
						<button id="comentar" name="comentar" type="submit"
							ng-click="detallesCtrl.createComent(detallesCtrl.nombreU,detallesCtrl.contenido,detallesCtrl.puntuacion)"
							class="btn btn-success">Comentar</button>

					</form>
				</div>
				<div id=cajaComentarios>
					<div ng-repeat="c in comentarios | orderBy:'id':true"
						ng-switch="detallesCtrl.username" style="margin: 25px;">
						<div ng-switch-when="admin">
							<button type="submit" class="btn btn-danger btn-sm"
								data-toggle="modal" title="eliminar este comentario"
								data-target="#eliminar"
								ng-click="detallesCtrl.deleteComent(c.id)">
								<span class="glyphicon glyphicon-folder-close"></span>
							</button>
						</div>
						<div style="">
							<b>{{c.nombreU}}</b> ha opinado sobre esta actividad:
						</div>
						<textarea id="comentario-{{c.id}}" rows="10" cols="150" readonly
							style="resize: none">{{c.contenido}}</textarea>
						<input-stars ng-model="c.puntuacion" max="5" readonly></input-stars>
					</div>
				</div>
				<!-- /Fin Comentarios -->
</div>
</body>
 <script type="text/javascript">
 if(readCookie("LoginLivegoal")===null){
		document.getElementById('userLogin').innerHTML = '<a href="Login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a>';
		}else{
			

		document.getElementById('userLogout').innerHTML = '<a href="index.html" Onclick="eraseCookie(\'LoginLivegoal\')"><span class="glyphicon glyphicon-log-in"></span> Logout</a>';
		
		}
 
 </script>  
</html>